/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme


$red: #E5001C;
$yellow: #FDB631;
$orange: #E67E22;
$green-boostrap: #71C9CE;

// Brand color green scale

$green: #005B66;
$light-green:#00B0C7;


// Gray scale

$light-gray: #F2F2F2;
$border-gray: #b2b2b2;
$gray: #393939;
$dark-gray:#393939;

// New Brand colors - blue scale

$brand-color: #00C8CF;
$brand-title: #2A2A2A;
$brand-light-color: #90F2FF;
$brand-icons: #C1C1C1;














