<p>Hi</p>

<p>Thank you for subscribing on <b>Garantme</b>. We are thrilled to have you on board!</p>
<p>To get a lease garantee and secure your houssing application, complete your application on our website.</p>
<div class="home-button">
  <%= link_to "Let's go!", root_url, class: 'btn btn-primary'%>
</div>

