/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.elegant_contact-form {
  background: #f1f1f1;
  padding: 1em;
  height: 100vh;

>h1 {
   text-align: center;
   color: #a8a8a8;
}

.contact-form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;

  input, textarea {
     border:0; outline:0;
     padding: 1em;
     border-radius: 8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     resize: none;
     height: 100%;
  }

  #input-submit {
  color: white;
  background: $green;
  cursor: pointer;
  &:hover {
    background-color: #002e33;
    border-color: #000e0f;
    }
  }

  textarea {
  height: 182px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%;
}


@media (max-width: 480px) {
  .half {
     width: 100%;
     float: none;
     margin-bottom: 0;
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

}
