<div class="embedded-form">
  <%= simple_form_for interview, remote: true do |f| %>
    <%= f.input :city, label: false, placeholder: 'City name'%>
    <%= f.submit 'Save', class: "btn btn-primary save-step" %>
  <% end %>
</div>
