<!-- tutorial to use the gem dropzone
http://josephndungu.com/tutorials/ajax-file-upload-with-dropezonejs-and-paperclip-rails -->

<div class="embedded-form">
  <%= simple_form_for interview, remote: true do |f| %>
    <div class="fallback">
      <%= f.input :id_card, as: :attachinary, label: false %><br>
      <%= f.submit 'Save', class: "btn btn-primary save-step" %>
    </div>
  <% end %>
</div>
