<!-- tutorial to use the gem dropzone
http://josephndungu.com/tutorials/ajax-file-upload-with-dropezonejs-and-paperclip-rails
https://github.com/ncuesta/dropzonejs-rails -->

<div class="embedded-form">
  <%= simple_form_for interview, remote: true do |f| %>
    <div class="fallback">
      <%= f.label "Identity card" %>
      <%= f.attachinary_file_field :id_card, label: false, html: { class: "dropzone" } %>
      <%= f.submit 'Save', class: "btn btn-primary save-step" %>
    </div>
  <% end %>
</div>
