<div class="embedded-form">
  <%= simple_form_for interview, remote: true do |f| %>
    <%= f.input :cosigner_monthly_income, label: false, placeholder:'in €' %>
    <%= f.submit 'Save', class: "btn btn-primary save-step" %>
  <% end %>
</div>
