<div class="embedded-form">
  <%= simple_form_for interview, remote: true do |f| %>
    <%= f.input :arrondissement, collection: 1..20 %>
    <%= f.submit 'Save', class: "btn btn-primary save-step" %>
  <% end %>
</div>
