<div class="embedded-form">
  <%= simple_form_for user, remote: true do |f| %>
    <%= f.input :first_name, label: false, placeholder: 'First name'%>
    <%= f.input :last_name, label: false, placeholder: 'Last name'%>
    <%= f.submit 'Save', class: "btn btn-primary save-step" %>
  <% end %>
</div>

