<div class="embedded-form">
  <%= simple_form_for interview, remote: true do |f| %>
    <%= f.input :cosigner_first_name, label: false, placeholder: 'First name' %>
    <%= f.submit 'Save', class: "btn btn-primary save-step" %>
  <% end %>
</div>
