<div class="embedded-form">
  <%= simple_form_for interview, remote: true do |f| %>
    <div class="fallback">
      <%= f.attachinary_file_field :school_certificate, as: :attachinary, label: false, html: {class: "dropzone"} %>
      <%= f.submit 'Save', class: "btn btn-primary save-step" %>
    </div>
  <% end %>
</div>
