<div class="embedded-form">
  <%= simple_form_for @appartment, remote: true do |f| %>
    <%= f.input :appartment_address, label: false, placeholder: 'number, street type, street name'%>
    <%= f.submit 'Save', class: "btn btn-primary save-step" %>
  <% end %>
</div>
