<div class="embedded-form">
  <%= simple_form_for interview, remote: true do |f| %>
    <%= f.input :has_a_cosigner %>
    <%= f.submit 'Save', class: "btn btn-primary save-step" %>
  <% end %>
</div>
