<div class="col-xs-12 col-md-12">
  <% if @interview.id_card.nil? %>
    <%= render 'form_id_card', interview: @interview %>
  <% elsif %>
    <i class="fa fa-check" aria-hidden="true"></i> <p>'Id Card'</p>
  <% end %>
</div>

<div class="col-xs-12 col-md-12">
  <% if @interview.proof_of_revenue.nil? %>
    <%= render 'form_proof_of_revenue', interview: @interview %>
  <% elsif %>
      <i class="fa fa-check" aria-hidden="true"></i> <p>'Id Card'</p>
  <% end %>
</div>

<div class="col-xs-12 col-md-12">
  <% if @interview.school_certificate.nil? %>
    <%= render 'form_school_certificate', interview: @interview %>
  <% elsif %>
      <i class="fa fa-check" aria-hidden="true"></i> <p>'Id Card'</p>
  <% end %>
</div>

