<!-- Page title-->
<% content_for(:title_tag) do %>
  Update Interview
<% end %>
<!-- End of page title-->

<div class="container">
  <div class="questions-container">
    <!-- Header -->
    <div class="row">
      <div class="col-xs-12">
        <div class="questionnaire-head">
          <h1>My application</h1>
          <p>You can edit the questionnaire below: don't forget to save each question that you change</p>
        </div>
      </div>
    </div>

    <div class="done-button">
      <%= link_to "Take me back", interview_path(@interview), class: "btn btn-sm btn-primary" %>
    </div>

    <!-- summary -->
    <div class="summary-interview-info">
      <%= render "interview_summary"  %>
    </div>

    <!--  -->


    <div class="edit-form hidden" id="edit-financial-info">

    <%= render "personal_info_edit", user: @user %>

    </div>

    <div class="edit-form hidden" id="edit-apartment-info">

    <%= render "personal_info_edit", user: @user %>

    </div>

    <div class="edit-form hidden" id="edit-supporting_doc">
      <% link_to "edit pdfs", interview_path(@interview), class: "btn btn-primary" %>
    </div>

  </div>
</div>

