<div class="dashboard-user-card">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="requirements-title-container">
          <h4>Conversation</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">

        <div class="messages-container">
          <% @messages.each do |message|%>
            <div class="message">
              <p class="message-sender"><%= message.sender.first_name %> <%= message.sender.last_name %></p>
              <p class="message-timestamp"><%= message.created_at %></p>
              <p class="message-content"><%= message.content %></p>
            </div>
          <% end %>
        </div>

        <div class="message-form-container">
          <form class="message-form" action="/">
            <div class="form-group">
              <textarea class="form-control" id="message-area" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-xs btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
