<div class="container body-container-no-footer">
  <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-5 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12">
                <div class="dashboard-user-card">
                  <div class="dashboard-user-card-left">
                    <%= user_picture_avatar(@student, "avatar-bordered-xl")  %>
                    <h5><%= @student.first_name.capitalize %> <%= @student.last_name.capitalize %></h5>
                    <p><%= @student.organisation.name.upcase %></p>
                  </div>
                  <div class="dashboard-user-card-right">
                    <h1>helllo</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="dashboard-user-card">
                  <h1>coucou</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="dashboard-user-card">
                  <h1>coucou</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-5">
            <div class="row">
              <div class="col-xs-12">
                <div class="dashboard-user-card">
                  <h1>coucou</h1>
                  <p>fdskljfsdhf</p>
                  <p>fdskljfsdhf</p>
                  <p>fdskljfsdhf</p>
                  <p>fdskljfsdhf</p>
                  <p>fdskljfsdhf</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
