<div id="footer">

  <div class="navbar-wagon-brand">
    <%= image_tag "Garantme-logo-white.png" %>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="social-media">
        <h5>CONNECT WITH US</h5>
        <ul class="social-icon">
          <%= link_to "https://www.facebook.com/garantme/" do %>
            <i class="fa fa-facebook-square"></i>
          <% end %>
        </ul>
        <ul class="social-icon">
          <p>contact@garantme.fr</p>
        </ul>
      </div>
    </div>
  </div>


</div>
<div class="copyright">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h6>Copyright © 2017 Garantme, All rights reserved.</h6>
    </div>
  </div>
</div>

