.interview-show-top-left-container {
  background-color: white;
  width: 100%;
  display: flex;
  border: solid 1px #eeeeee;
  box-shadow: 0px 2px 7px rgb(230, 230,230);
  margin: 10px 5px 10px 0px;
  flex-direction: row;
  padding: 15px;
  transition: box-shadow .2s ease-in-out;
}

.interview-show-top-right-container {
  background-color: white;
  width: 100%;
  border: solid 1px #eeeeee;
  box-shadow: 0px 2px 7px rgb(230, 230,230);
  margin: 10px 0px;
  padding: 15px;
  transition: box-shadow .2s ease-in-out;
}

.separator {
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
}

.interview-link {
  color: #6c6c6c !important;
  border-style: solid;
  border-width: 0px;
  border-radius: 20px;
  padding: 5px;
  &:hover {
    color: $brand-color !important;
  }
}

.v-separator {
  width: 1px;
  background-color: #eee;
  margin: 20px 0 20px 0;
}

.show-user-left {
  text-align: center;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  min-width: 260px;
}

.show-user-right {
  flex: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0 10px 30px;
}



.scroll-container {
  overflow: scroll;
  // height: calc(100vh - 100px);
}

.noscroll {
  overflow: hidden;
}


.user-show-full-name{
  color: $brand-color;
}



.flat_info >ul {
  list-style-type: none;
  margin-left: -32px;
  font-size: 14px;
}

.add-flat-form {
  font-size: 14px;
}


.supporting-docs {
  display: flex;
  justify-content: space-around;
}


.column-content h5 {
  font-weight: bolder;
  font-color: #2A2A2A;
}

.interviews-show-user-card-right-item {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.interviews-show-user-card-right-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px 0 15px;
  font-size: 25px;
}

.interviews-show-user-card-right-item-text-title {
  color: $brand-title;
}
.interviews-show-user-card-right-item-text {
  p {
    margin: 0;
    font-size: 12px;
  }
}

.interview-show-bottom-left-container {
  background-color: white;
  width: 100%;
  border: solid 1px #eeeeee;
  box-shadow: 0px 2px 7px rgb(230, 230,230);
  margin: 10px 5px 10px 0px;
  padding: 15px;
  transition: box-shadow .2s ease-in-out;
}

.green-dotted {
  border-color: $brand-primary;
  border-style: dotted;
  width: 100%;
  margin: 5px 0;
  text-align: center;
}

.interview-image {
  width: 100px;
}
