.interview-show-top-left-container {
  border-style: solid;
  border-width: 2px;
  border-color: $border-gray;
  padding: 20px;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
}
.interview-show-left-container {
  border-style: solid;
  border-width: 2px;
  border-color: $border-gray;
  padding: 20px;
  background-color: white;
  text-align: left;
  margin-bottom: 20px;
}
.interview-show-middle-container {
  border-style: solid;
  border-width: 2px;
  border-color: $border-gray;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  & h4 {
    color: $green;
  }
  & h5{
    color: $green;
    font-weight: bolder;
  }
}

.separator {
  border-bottom-color: $border-gray;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;
}

.interview-show-right-container {
  border-style: solid;
  border-width: 2px;
  border-color: $border-gray;
  padding: 20px;
  background-color: white;
  text-align: left;
  margin-bottom: 20px;
   & h5{
    color: $green;
    font-weight: bolder;
  }
}

.scroll-container {
  overflow: scroll;
  // height: calc(100vh - 100px);
}

.noscroll {
  overflow: hidden;
}
.show-container-padding {
  padding-top: 30px;
}

.user-show-full-name{
  font-weight: bolder;
}

.green-container {
  border: solid;
  border-width: 2px;
  border-color: $green;
  padding: 10px;
  margin-bottom: 20px;
}

.user-show-buttons {
  color: $gray;
  text-align: right;
  :hover{
    text-decoration: none;
  }
}

.social-links-cases {
  margin-bottom: 10px;
  & img {
    height: 22px;
    width: 22px;
    filter: grayscale(100%);
    object-fit: cover;
  }
}

.show-icons{
  color: $green;
}


.stars >span {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.flat_info >ul {
  list-style-type: none;
  margin-left: -32px;
  font-size: 14px;
}

.add-flat-form{
  font-size: 14px;
}
.green-dotted {
  border-style: dotted;
  border-color: $green;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  >i {
    color: $green;
    padding: 15px;
  }
}
