/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  position: absolute;
  top:70px;
  left:0;
  right: 0;
  border: 0;
  color: white;
  z-index: 1000;
}
.alert-info {
  background: $brand-color;
}
.alert-warning {
  background: $red;
}

.container-margin-top {
  margin-top: 120px;
}
