/* Banner design */
.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #435463;
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: #435463;
  margin-bottom: 20px;
}
