#home-button {
  padding: 14px;
  font-size: 25px;
  margin-top: 10px;
  transition: all 0.3s ease 0s;
  color: white;
  background-color: $brand-color;
  border: solid 2.5px $brand-color;
  margin-top: 20px;
  border-radius: 5px;

  &:hover {
    background-color: white;
    color: $brand-color;
    text-decoration: none;
  }
}

.btn {
  margin: 10px;
  min-width: 100px;
  border-radius: 3px;
}

.btn-primary {
  background: $brand-color;
  color: white;
  border: solid 2.5px $brand-color;
  border-width: 2px !important;
  border-color: $brand-color !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background: white;
    border: solid 2.5px $brand-color;
    color: $brand-color;
    outline: none;
}
