.user-edit-form {
  width: 250px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.leads-form {
  background: $light-gray;
  margin: 0px;
  padding: 50px;
  h1 {
    font-size: 30px;
    color: $brand-color;
    padding: 15px;
    margin: 0px;
  }
  h3 {
    margin: 0 0 0px;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: lighter;
    font-family: Open-sans, sans-serif;
    color: $gray;
  }
  input {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: $border-gray;
    text-align: -webkit-left;
    margin: 5px;
    &:focus {
      outline: none !important;
      border-width: 2px;
      border-color: $brand-color;
    }
  }
}
#lead-from-cta {
  text-align: -webkit-center !important;
  border-width: 0px !important;
}
