.user-edit-form {
  width: 250px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.leads-form {
  background: white;
  margin: 0px;
  padding: 50px;
  h1 {
    font-size: 30px;
    color: $brand-color;
    padding: 15px;
    margin: 0px;
  }
  h3 {
    margin: 0 0 0px;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: lighter;
    font-family: Open-sans, sans-serif;
    color: $gray;
  }
  input {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: $border-gray;
    text-align: -webkit-left;
    margin: 5px;
    &:focus {
      outline: none !important;
      border-width: 2px;
      border-color: $brand-color;
    }
  }
}
#lead-form-cta {
  text-align: -webkit-center !important;
  border-width: 0px !important;
}

.question {
  min-height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 17px 29px 43px 0 rgba(156, 156, 156, 0.14);

  h1 {
    color: $ash-color;
    font-size: 2rem;
  }

  input {
    border-style: solid;
    border-width: 1px;
    border-color: $border-gray;
    &:focus {
      outline: none !important;
      border-width: 2px;
      border-color: $brand-color;
    }
  }
}

.answer {
  display: flex;
  justify-content: space-around;
}

