.questions-container {
  border-style: solid;
  border-color: $light-gray;
  border-radius: 10px;
}

.questionnaire-head {
  border-bottom-style: solid;
  border-bottom-color: $green;
  padding-bottom: 20px;

  p {
    margin-top: 25px;
  }
}

.green-tick {
  display: flex;

  i {
    font-size: 25;
    margin-left: 10px;
  }

  p {
    margin: 0;
  }
}

.dropzone {
  min-height: 127px;
  border: 2px dashed $border-gray;
}

#dropzone-container {
  padding-left: 113px;
}

.submit-all-form {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.fallback {
  ul {
    padding: 20px 0px;
    list-style-type: none;
  }
}

.yes-no-form {
  display: flex;
}

.question {

  min-height: 270px;

  .btn {
    width: 200px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.embedded-form {
  width: 300px;

  .btn {
  width: 200px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
}

.done-button {
  position: fixed;
  right: 500px;
  top: 500px;
  .btn-success {
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    vertical-align: center;
  }
}

// Stepper
.stepper {
    .nav-tabs {
        position: relative;
    }
    .nav-tabs > li {
        width: 5.5%;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            background: #f1f1f1;
            display: block;
            width: 100%;
            height: 5px;
            top: 30px;
            left: 50%;
            z-index: 1;
        }
        &.completed {
            &::after {
                background: #f1f1f1;
            }
        }
        &:last-child {
            &::after {
                background: transparent;
            }
        }
        &.active:last-child {
            .round-tab {
                background: #34bc9b;
                &::after {
                    content: '✔';
                    color: #fff;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: 0;
                    display: block;
                }
            }
        }
    }
    .nav-tabs [data-toggle='tab'] {
        width: 25px;
        height: 25px;
        margin: 20px auto;
        border-radius: 100%;
        border: none;
        padding: 0;
        color: #f1f1f1;
    }
    .nav-tabs [data-toggle='tab']:hover {
        background: transparent;
        border: none;
    }
    .nav-tabs > .active > [data-toggle='tab'], .nav-tabs > .active > [data-toggle='tab']:hover, .nav-tabs > .active > [data-toggle='tab']:focus {
        color: #34bc9b;
        cursor: default;
        border: none;
    }
    .tab-pane {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 25px;
    }
    .round-tab {
        width: 25px;
        height: 25px;
        line-height: 22px;
        display: inline-block;
        border-radius: 25px;
        background: #fff;
        border: 2px solid #34bc9b;
        color: #34bc9b;
        z-index: 2;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 14px;

    }
    .completed .round-tab{
      background: #34bc9b;
      &::after {
        content: '✔';
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 0;
        display: block;
        }
    }
    .active .round-tab {
        background: #fff;
        border: 2px solid #34bc9b;
        &:hover {
            background: #fff;
            border: 2px solid #34bc9b;
        }
        &::after {
            display: none;
        }
    }
    .disabled .round-tab {
        background: #fff;
        color: #f1f1f1;
        border-color: #f1f1f1;
        &:hover {
            color: #4dd3b6;
            border: 2px solid #a6dfd3;
        }
        &::after {
            display: none;
        }
    }
}
