.questions-container {
  border-style: solid;
  border-color: $light-gray;
  border-radius: 10px;
}

.questionnaire-head {

  padding-bottom: 15px;
  text-align: center;
  h1 {
    font-size: 2rem;
    color: #1b1b1b;
    font-weight:bolder;
  }

  p {
    margin-top: 15px;
    font-size: 1.3rem;
    color: #b2b2bd;
  }

}

.dropzone {
  min-height: 110px;
  border: 2px dashed $border-gray;
}

#dropzone-container {
  padding-right: 50px;
}

.submit-all-form {
  margin-top: 30px;
}

.fallback {
  ul {
    padding: 20px 0px;
    list-style-type: none;
  }
}

.yes-no-form {
  display: flex;
  justify-content: space-around;
  padding: 430px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.question {

  min-height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 17px 29px 43px 0 rgba(156, 156, 156, 0.14);

  h1 {
    color: $ash-color;
    font-size: 2rem;
  }
}

.summary-question {
  h3 {
  font-size: 12px;
  color: $brand-title;
  }
  p {
  font-size: 1rem;
  }
}

.embedded-form {
  width: 300px;

  .btn {
  width: 200px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
}

.done-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  .btn-success {
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    vertical-align: center;
  }
}

// Stepper


.edit-later-container {
  background-color: white;
  width: 100%;
  border: solid 1px #eeeeee;
  box-shadow: 0px 2px 7px #e6e6e6;
  margin: 10px 5px 10px 0px;
  padding: 15px;
  transition: box-shadow .2s ease-in-out;
  min-height: 380px;
  width: 100%;
  display: flex;
  flex-direction: row;
  h2 {
    font-size: 14px;
    color: $brand-color !important;
    text-align: center;
  }
}

.round-tab {
  z-index: 10;
}

.summary-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

