.tabs {
  background-color: $brand-color;
  display: flex;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 15px 0 15px 0;

}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background-color: $light-green;
  flex: 0 0 20%;
  text-align: center;
  padding: 10px 0;
}

.tab.active {
  background: white;
  color: black;
}
